force-app/main/default/flows/a.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>mail</name>
        <label>メール</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>こんにちは</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>こんにちは。ぼく大和。</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>newcontac</name>
        <label>newcontac</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LastName</name>
            <value>
                <stringValue>田中</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <stringValue>たけし</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewContact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign1</name>
        <label>割り当て１</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record.multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>ｃ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemoveBeforeFirst</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>AddAtStart</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemoveUncommon</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>RemovePosition</operator>
        </assignmentItems>
        <connector>
            <targetReference>roop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setloop</name>
        <label>ループ内割り当て</label>
        <locationX>402</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>roop1.BillingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>roop1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pan</name>
        <choiceText>aaawa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>pan</stringValue>
        </value>
    </choices>
    <choices>
        <name>sentaku</name>
        <choiceText>選択肢１</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>value</stringValue>
        </value>
    </choices>
    <constants>
        <name>teisu</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>decision1</name>
        <label>決定1</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>結果３</defaultConnectorLabel>
        <rules>
            <name>result2</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>record.AnnualRevenue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newcontac</targetReference>
            </connector>
            <label>結果2</label>
        </rules>
        <rules>
            <name>result1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mail</targetReference>
            </connector>
            <label>結果1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>collectionSentakushiSet</name>
        <collectionReference>collection</collectionReference>
        <dataType>Number</dataType>
        <displayField>AccountNumber</displayField>
        <object>Account</object>
        <valueField>NumberOfEmployees</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordSentakushiSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sentakuListSentakushiSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>sushiki</name>
        <dataType>Number</dataType>
        <expression>1 + 2 + 3 + 4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>a {!$Flow.CurrentDateTime}</interviewLabel>
    <label>a</label>
    <loops>
        <name>roop1</name>
        <label>ループ1</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <collectionReference>collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setloop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>tukuttyauyo</description>
        <name>creat</name>
        <label>あ</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>accountId</assignRecordIdToReference>
        <connector>
            <targetReference>create</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <numberValue>2000000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>yamato</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>create</name>
        <label>い</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>sakuseihukusuu</targetReference>
        </connector>
        <inputReference>record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>sakuseihukusuu</name>
        <label>作成複数</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>UniqueName88</targetReference>
        </connector>
        <inputReference>collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>makaseru</name>
        <label>全てのレコード＞項目を選択してあとはSalesforceに任せる</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UniqueName99</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UniqueName88</name>
        <label>全てのレコード＞すべての項目を自動的に保存</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>makaseru</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountNum</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UniqueName99</name>
        <label>全てのレコード＞項目選択変数割当</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>999</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>makaseru</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>X1_1</name>
        <label>最初のレコードのみ＞すべての項目を自動的に保存</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>AccountNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2</name>
        <label>最初のレコードのみ＞項目を選択してあとはSalesforceにまかせる</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <sortField>AccountNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4</name>
        <label>最初のみ&gt;項目選択割当&gt;まとめて保存</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountNum</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>X5</name>
        <label>最初のみ&gt;項目選択割当&gt;個別の変数に保存</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountNum</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>billingcity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update1</name>
        <label>更新1</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>update2</targetReference>
        </connector>
        <inputReference>record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update2</name>
        <label>更新2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>update3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>kokonatu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fax</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update3</name>
        <label>更新３</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>assign1</targetReference>
        </connector>
        <inputReference>makaseru</inputReference>
    </recordUpdates>
    <screens>
        <name>UniqueName</name>
        <label>あ</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>creat</targetReference>
        </connector>
        <fields>
            <name>viewtext</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>namebox</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>radio</name>
            <choiceReferences>pan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>radio</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>record.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>record.Fax</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>record.Industry</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>phase</name>
        <isActive>true</isActive>
        <label>phase</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>textTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;こんにちは、ぼく大和。&lt;/p&gt;&lt;p&gt;{!record.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 10, 10);&quot;&gt;赤文字&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;あああ&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 18px;&quot;&gt;灼熱&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 18px;&quot;&gt;太字&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>accountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>active</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexVar</name>
        <apexClass>commercepayments__ProductItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingcity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>boolean2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>intVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>textVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>デフォルト値</stringValue>
        </value>
    </variables>
</Flow>
