force-app/main/default/flows/b.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>b {!$Flow.CurrentDateTime}</interviewLabel>
    <label>b</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>kousin1</name>
        <label>kousin1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>kousin2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssistantName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>パプリカとも子</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <dateValue>1996-06-29</dateValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>kousin2</name>
        <label>kousin2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>kousin3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingAddress</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ああ</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ああ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>kousin3</name>
        <label>kousin3</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>kousin4</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>kousin4</name>
        <label>kousin4</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <dateValue>1996-06-29</dateValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>kousin1</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
